body {
    background-color: #F2E6D0;
}

main {
    margin-left: 170px;
    margin-right: 170px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 17px;

}

label {
    font-size: 38px;
    color: #402D1D;
    font-style: oblique;
    font-weight: bold;
    margin-left: 17px;

}


.container-produto {
    background-color: white;
    width: 550px;
    margin: 10px;
    display: grid;
    padding: 10px;
    grid-template-areas:
        'img texto'
        'img texto'
        'preco preco';
    border-radius: 15px;
}

.container-setins {
    grid-area: preco;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.setins{
    display: flex;
    gap: 15px;
}

.container-cafe {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.texto-produto {
    grid-area: texto;
    width: 270px;
}

.preco-produto {
    font-size: 20px;
    color: #402D1D;
    font-weight: bold;

}

.titulo-produto {
    font-size: 25px;
    color: #402D1D;
    font-weight: bold;
}

.descricao-produto {
    font-size: 20px;
    color: #402D1D;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.container-foto {
    grid-area: img;
    width: 200px;
    height: 200px;

}

#titulo-header {
    font-style: oblique;
    font-size: 44px;
}

.header-container {
    display: flex;
    flex-direction: column;
}

#link-header {
    padding: 15px;
    width: 150px;
    text-align: center;
    font-size: 18px;
    background-color: #402D1D;
    color: white;
    border-radius: 10px;
}

.button-login {
    color: #402D1D;
    padding: 10px;
    background-color: #F2E6D0;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid #402D1D;
    /* Cor e espessura da borda */
    font-weight: 800;
    align-self: flex-start;
    margin-top: 40px;
}